# macOS-specific files
.DS_Store
.github
.vscode
.idea

# environment variables
.env
.env.production
.cache
*.local

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.astro
.next
.turbo

# build output
dist
dist-ssr
server/dist
public/dist
.output/
